.custom-footer {
  background-color: #FFD469 !important;  
  height: 10%
}

.custom-row{
  height: 1px;
  background: black;
}

.view {
    background: url("http://localhost:8000/images/Terno.png")no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

.custom-perfil-button {
  background: transparent;
  elevation: 0px;
  border-color: none;
  border: none;
}

.custom-perfil-image{
  height: 60px;
  width: 60px;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}
